
table, td,th,tr {
	border-collapse: collapse;
	border: 1px solid green;
}
td {
	font-size: 11px;
}
.tab_header {
	color: red;
	font-size: 16px;
}
div#base_data_div {
	height: 40%;
	overflow: scroll;
}
div#data-work-area {
	overflow: scroll;
}
.operation_list {
	display: none; 
	position: absolute;
	background: rgb(0,0,0);
}  
.operation-menu {
	display: inline-block;
	position: relative;
	background-color: black;
	color: yellow;
}
li.operation {
	background-color: #eeffff;
	color: red;
	font-size: 16px;
	z-index: 1;
	margin-bottom: 2px;
	border-radius: 5px;
	list-style: none;
	cursor: pointer;
}

ul#ops > li{
	display: inline;
}

/*dialoge box*/
div#dialog {
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.8);
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	overflow: hidden;
}

div#dialog_box {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: rgba(200, 200, 200, 0.5);
}

div#dialog_box > form {
	display: none;
}
div#dialog_box_header {
	color: red;
	right: 0px;
}

* {
	box-sizing: border-box;
}

.row:after {
	clear: both;
	content: "";
	display: block;
}
.col-6 {width: 50%;}
.col-12 {width: 100%;}
.col-7 {width:20%;}


[class *= "col-"] {
	float: left;
	padding: 1px;
	border: 2px solid blue;
}
